.card {
    background-color: var(--white);
    border-radius: 7px;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

card > * {
    flex: 1 1 100%;
}


.cardTop {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}

.cardTop :nth-child(1) { order: 2; }
.cardTop :nth-child(2) { order: 1; }


@media all and (min-width: 1024px) {
    .card {
        display: flex;
        flex-flow: nowrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .card :nth-child(1) { order: 2; }
    .card :nth-child(2) { order: 1; }
    .card :nth-child(3) { order: 3; }

    .cardTop {
        align-items: center;
    }


}